---
name: CI

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  ci:
    name: Run the unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python_version }}
      - uses: Gr1N/setup-poetry@v8
      - uses: actions/cache@v3
        with:
          path: ~/.tox
          key: tox-${{ matrix.python_version }}-${{ hashFiles('poetry.lock') }}

      - run: pip install --user --upgrade tox
      - run: sudo apt -y install python3-rpm
      - run: 'tox -e py${PY_VER//\./} -- -vv'
        env:
          PY_VER: ${{ matrix.python_version }}

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v2
      #   with:
      #     fail_ci_if_error: true

  install:
    name: Build and install the package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python_version }}
      - uses: Gr1N/setup-poetry@v8
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ matrix.python_version }}-${{ hashFiles('poetry.lock') }}
      - run: sudo apt -y install python3-rpm

      - run: |
          poetry install
          poetry build
          pip install --user dist/replace_using_package_version-*whl
          replace_using_package_version --help

  integration:
    name: Run the integration tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.5.0
      - uses: Gr1N/setup-poetry@v8
      - uses: actions/cache@v3
        with:
          path: ~/.tox
          key: tox-${{ hashFiles('poetry.lock') }}

      - run: sudo apt -y install python3-rpm
      - run: pip install --user --upgrade tox

      - run: 'tox -e integration -- -n auto -vv'

  lint:
    name: Lint the source code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.5.0
      - uses: Gr1N/setup-poetry@v8
      - uses: actions/cache@v3
        with:
          path: ~/.tox
          key: tox-${{ hashFiles('poetry.lock') }}

      - run: pip install --user --upgrade tox

      - run: 'tox -e check'
